---
// Import necessary components/layouts if needed
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import WebsiteDrawingWIP from "../assets/WebsiteDrawing.webp";
import Logo from "../assets/Logo.astro";
// Icons (Not included in tabler)
import Pixiv from "../assets/icons/Pixiv.astro";
import Mallow from "../assets/icons/Mallow.astro";
import Vgen from "../assets/icons/Vgen.astro";
import Cara from "../assets/icons/Cara.astro";
import { getAbsoluteLocaleUrl } from "astro:i18n";

// Links of my social media accounts.
const socialLinks = [
    {
        name: "Bluesky",
        url: "https://bsky.app/profile/simplyer1c.art",
        icon: "ti ti-brand-bluesky",
        component: null,
        showInHero: true,
        showInContact: true,
    },
    {
        name: "Mastodon",
        url: "https://mas.to/@SimplyEr1c",
        icon: "ti ti-brand-mastodon",
        component: null,
        showInHero: true,
        showInContact: true,
    },
    {
        name: "Twitch",
        url: "https://www.twitch.tv/simplyer1c",
        icon: "ti ti-brand-twitch",
        component: null,
        showInHero: true,
        showInContact: true,
    },
    {
        name: "Kick",
        url: "https://kick.com/simplyer1c",
        icon: "ti ti-brand-kick",
        component: null,
        showInHero: true,
        showInContact: true,
    },
    {
        name: "Email",
        url: "mailto:SimplyEr1c@protonmail.com",
        icon: "ti ti-mail",
        component: null,
        showInHero: true,
        showInContact: true,
    },
    {
        name: "Lemmy",
        url: "https://lemmy.world/u/SimplyEr1c",
        icon: "ti ti-world",
        component: null,
        showInHero: false,
        showInContact: true,
    },
    {
        name: "Cara.app",
        url: "",
        icon: null,
        component: Cara,
        showInHero: false,
        showInContact: true,
    },
    {
        name: "Pixiv",
        url: "",
        icon: null,
        component: Pixiv,
        showInHero: false,
        showInContact: true,
    },
    {
        name: "Vgen",
        url: "https://vgen.co/SimplyEr1c/characters",
        icon: null,
        component: Vgen,
        showInHero: false,
        showInContact: true,
    },
    {
        name: "Mallow",
        url: "",
        icon: null,
        component: Mallow,
        showInHero: false,
        showInContact: true,
    },
    {
        name: "Objkt",
        url: "",
        icon: null,
        component: null,
        showInHero: false,
        showInContact: true,
    },
];

const getHeroLinks = () => socialLinks.filter((link) => link.showInHero);
const getContactLinks = () => socialLinks.filter((link) => link.showInContact);
---

<Layout>
    <!-- Hero -->
    <section id="Hero" class="relative hero">
        <!-- Background Image -->
        <!-- This Covers the entire  hero section to the background -->
        <!-- The rest of the elements will be put with "relative"  -->
        <Image
            src={WebsiteDrawingWIP}
            alt="Background"
            width={1920}
            format="webp"
            class="absolute inset-0 w-full h-full object-cover opacity-100 pointer-events-none select-none"
            draggable="false"
        />

        <div class="relative">
            <!-- Logo -->
            <Logo width="155" />
        </div>
        <!-- Greet dialog with some social media links -->
        <div class="relative box">
            <h1 class="text-4xl md:text-6xl font-bold uppercase">SimplyEr1c</h1>
            <p class="md:text-3xl font-medium">
                A bit of everything's Illustrator.
            </p>
            <ul class="flex flex-row mt-3 gap-x-5 text-4xl justify-start">
                {
                    getHeroLinks().map((link) => (
                        <li>
                            <a
                                href={link.url}
                                target="blank"
                                rel="noopener noreferrer"
                                aria-label={link.name}
                            >
                                {link.component ? (
                                    <link.component />
                                ) : link.icon ? (
                                    <i class={link.icon} />
                                ) : null}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>

    <!-- Art Gallery and brief description  -->
    <section
        id="art"
        class="min-h-dvh p-5 flex flex-col items-center justify-center"
    >
        <p class="w-8/12 mb-5">
            Hello! I'm Er1c, a self-taught illustrator making art variety from
            raster, vector graphics and 3D modeling. I learned through online
            course platforms such as Domestika and Udemy and Youtube. I like to
            create a bit of everything such as Illustrations, Characters,
            Natural Landscapes and graphic design.
        </p>

        <div class="grid md:grid-cols-3 mx-15 gap-5">
            <div class="break-inside-avoid mb-6">
                <Image
                    src="https://cdn.cara.app/production/posts/fa03dd4b-0e9e-4b4e-93cf-8e4340dc36cd/simplyer1c-SOSL-_oNhHbd35LUkBwjy-DonutFinal.png"
                    alt="Image"
                    height="400"
                    width="300"
                    loading="lazy"
                    class="rounded-lg shadow-lg w-full h-auto"
                />
            </div>
            <div class="break-inside-avoid mb-6">
                <Image
                    src="https://cdn.cara.app/production/posts/1fe13c44-dc4f-47dd-9176-b42d4117215e/simplyer1c-5BVOamOlQYBklKpSU25oN-S4S.png"
                    alt="Image"
                    height="300"
                    width="300"
                    loading="lazy"
                    class="rounded-lg shadow-lg w-full h-auto"
                />
            </div>
            <div class="break-inside-avoid mb-6">
                <Image
                    src="https://cdn.cara.app/production/posts/e53d41bc-f77e-4e78-8e92-915e8cf90f47/simplyer1c-JZy4tZpXEzE1lJMym5TF0-Jack.png"
                    alt="Image"
                    height="300"
                    width="300"
                    loading="lazy"
                    class="rounded-lg shadow-lg w-full h-auto"
                />
            </div>
        </div>
    </section>

    <!-- Links  -->
    <section
        id="links"
        class="min-h-dvh bg-coolblue p-8 flex flex-col items-center"
    >
        <p class="text-center text-snowwhite font-bold text-7xl mb-8">
            Contact
        </p>
        <div
            class="flex flex-wrap w-1xl md:w-4xl gap-6 m-3 items-center justify-center"
        >
            {
                getContactLinks().map((link) => (
                    <a
                        href={link.url}
                        class="contactButton"
                        aria-label={link.name}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        {link.component ? (
                            <link.component />
                        ) : link.icon ? (
                            <i class={link.icon} />
                        ) : null}
                        {link.name}
                    </a>
                ))
            }
        </div>
    </section>
    <footer class="m-auto w-fit h-fit py-4 justify-center">
        <p>
            Made with <i class="ti ti-brand-tailwind"></i> Tailwind, <i
                class="ti ti-brand-astro"></i> Astro and <i class="ti ti-coffee"
            ></i>
            <i class="ti ti-heart"></i>
            <i class="ti ti-headphones"></i>
            <i class="ti ti-music"></i>
            by
            <a
                href="https://github.com/Simply-Er1c"
                aria-label="GitHub"
                rel="noopener noreferrer"
                target="_blank"
                class="font-medium"
            >
                SimplyEr1c <i class="ti ti-brand-github"></i>
            </a>
        </p>
    </footer>
</Layout>
