---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import WebsiteDrawingWIP from "../assets/WebsiteDrawing.webp";
import Logo from "../assets/Logo.astro";
// Icons not included in tabler.
import Pixiv from "../assets/icons/Pixiv.astro";
import Mallow from "../assets/icons/Mallow.astro";
import Vgen from "../assets/icons/Vgen.astro";

// Links of my social media accounts.
const socialLinks = [
    {
        name: "Twitter/X",
        url: "https://x.com/simplyer1c",
        icon: "ti ti-brand-x",
        component: null,
        showInHero: true,
        showInContact: true,
    },
    {
        name: "Bluesky",
        url: "https://bsky.app/profile/simplyer1c.bsky.social",
        icon: "ti ti-brand-bluesky",
        component: null,
        showInHero: true,
        showInContact: true,
    },
    {
        name: "Ko-fi",
        url: "https://ko-fi.com/simplyer1c",
        icon: "ti ti-coffee",
        component: null,
        showInHero: true,
        showInContact: true,
    },

    {
        name: "Mastodon",
        url: "https://mas.to/@SimplyEr1c",
        icon: "ti ti-brand-mastodon",
        component: null,
        showInHero: true,
        showInContact: true,
    },

    {
        name: "Cara",
        url: "https://cara.app/simplyer1c",
        icon: null,
        component: null,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Tumblr",
        url: "https://www.tumblr.com/blog/simplyer1c",
        icon: "ti ti-brand-tumblr",
        component: null,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Twitch",
        url: "https://www.twitch.tv/simplyer1c",
        icon: "ti ti-brand-twitch",
        component: null,
        showInHero: true,
        showInContact: true,
    },

    {
        name: "Kick",
        url: "https://kick.com/simplyer1c",
        icon: "ti ti-brand-kick",
        component: null,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Youtube",
        url: "https://www.youtube.com/channel/UCfGj1FK7R1xkSTzWYhw5iyg",
        icon: "ti ti-brand-youtube",
        component: null,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Email",
        url: "mailto:SimplyEr1c@protonmail.com",
        icon: "ti ti-mail",
        component: null,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Lemmy",
        url: "https://lemmy.world/u/SimplyEr1c",
        icon: "ti ti-world",
        component: null,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Pixiv",
        url: "https://www.pixiv.net/en/users/100654117",
        icon: null,
        component: Pixiv,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Steam",
        url: "https://steamcommunity.com/id/SimplyEr1c/",
        icon: "ti ti-brand-steam",
        component: null,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Vgen",
        url: "https://vgen.co/SimplyEr1c/",
        icon: null,
        component: Vgen,
        showInHero: false,
        showInContact: true,
    },

    {
        name: "Mallow",
        url: "https://www.mallow.art/u/simplyer1c",
        icon: null,
        component: Mallow,
        showInHero: false,
        showInContact: true,
    },
];

// Pictures
// This artworks are hosted on Cara. I want only a few selection. There's no need to auto-scrape and put all here.
const artworkPictures = [
    {
        src: "https://cdn.cara.app/production/posts/fa03dd4b-0e9e-4b4e-93cf-8e4340dc36cd/simplyer1c-SOSL-_oNhHbd35LUkBwjy-DonutFinal.png",
        alt: "Donut",
    },

    {
        src: "https://cdn.cara.app/production/posts/1fe13c44-dc4f-47dd-9176-b42d4117215e/simplyer1c-5BVOamOlQYBklKpSU25oN-S4S.png",
        alt: "Sad Machine",
    },

    {
        src: "https://cdn.cara.app/production/posts/e39123aa-387b-4550-b852-8342e6d808e9/simplyer1c-1PXoehyoXeR1LwJALC830-ThePlaceInTheMiddleOfNothing.png",
        alt: "The place in the middle of nothing",
    },

    {
        src: "https://cdn.cara.app/production/posts/76f5c01a-6f98-4cde-8ac1-f0bda955ab2d/simplyer1c-QQIG_cGq3fwkhqFrH3x_4-cake3.png",
        alt: "Portal Cake",
    },

    {
        src: "https://cdn.cara.app/production/posts/e53d41bc-f77e-4e78-8e92-915e8cf90f47/simplyer1c-JZy4tZpXEzE1lJMym5TF0-Jack.png",
        alt: "Jack Sculpt",
    },

    {
        src: "https://cdn.cara.app/production/posts/2f54caa6-718a-4a6e-a981-33c133e8a43a/simplyer1c-PHJdCdyq-UADcwMaxxxxG-Render.png",
        alt: "Portal cake scene",
    },

    {
        src: "https://cdn.cara.app/production/posts/63359974-b929-4b64-bfc2-a933b18be6b9/simplyer1c-ICbnsko2solzM08WFk_-K-Main2.jpg",
        alt: "3D character course project",
    },
    {
        src: "https://cdn.cara.app/production/posts/7b674d71-26dc-4cac-bec1-89f8249b080e/simplyer1c-qS7ywgqqaIt5Oxhe9Kj3k-Day_Page-6.png",
        alt: "Princess Rosalina Sculpt",
    },
];

// Filter functions for Hero and Contact sections
const getHeroLinks = () => socialLinks.filter((link) => link.showInHero);
const getContactLinks = () => socialLinks.filter((link) => link.showInContact);
---

<Layout>
    <!-- Hero -->
    <section id="Hero" class="relative hero border-metaldark">
        <!-- Background Image -->
        <!-- This Covers the entire  hero section to the background -->
        <!-- The rest of the elements will be put with "relative"  -->
        <Image
            src={WebsiteDrawingWIP}
            alt="Background"
            width={1920}
            format="webp"
            loading="eager"
            class="absolute opacity-40 inset-0 w-full h-full object-cover pointer-events-none select-none"
            draggable="false"
        />

        <div class="relative fill-metaldark dark:fill-snowwhite">
            <!-- Logo -->
            <Logo width="155" />
        </div>
        <!-- Greet dialog with some social media links -->
        <div
            class="relative flex flex-col items-center text-center md:items-end md:text-end d p-6 gap-3"
        >
            <span>
                <p class="text-4xl md:text-8xl font-bold uppercase">
                    Hello! I'm
                </p>
                <h1 class="text-4xl md:text-8xl font-bold uppercase">
                    SimplyEr1c
                </h1>
                <p class="md:text-xl font-medium">
                    A bit of everything's Illustrator.
                </p>
            </span>

            <!-- List of social media buttons (Only some important links included) -->
            <ul
                class="w-fit inline-flex gap-5 text-4xl md:text-6xl items-center justify-center md:justify-start"
            >
                {
                    getHeroLinks().map((link) => (
                        <li>
                            <a
                                href={link.url}
                                target="blank"
                                rel="noopener noreferrer"
                                aria-label={link.name}
                            >
                                {link.component ? (
                                    <link.component />
                                ) : link.icon ? (
                                    <i class={link.icon} />
                                ) : null}
                            </a>
                        </li>
                    ))
                }
            </ul>
            <a
                href="https://cara.app/simplyer1c"
                aria-label="Portfolio"
                class="contactButton bg-coolblue text-xl p-3 w-fit"
            >
                Portfolio
            </a>
        </div>
    </section>

    <!-- Art Gallery and brief description  -->
    <section
        id="art"
        class="min-h-dvh py-14 flex flex-col items-center justify-center"
    >
        <p class="w-8/12 mb-10 text-xl">
            Hello! I'm Er1c, a self-taught illustrator making art from raster,
            vector graphics and 3D modeling. I learned through online course
            platforms such as Domestika and Udemy and Youtube. I like to create
            a bit of everything such as Illustrations, Characters, Natural
            Landscapes and graphic design.
        </p>

        <div class="columns-2 md:columns-3 gap-4 w-4/5 xl:w-fit">
            {
                artworkPictures.map((pic) => (
                    <div class="mb-4 break-inside-avoid">
                        <Image
                            src={pic.src}
                            alt={pic.alt}
                            height="300"
                            width="400"
                            loading="lazy"
                            class="shadow-lg dark:shadow-shadow-none"
                        />
                    </div>
                ))
            }
        </div>
    </section>

    <!-- Links  -->
    <section
        id="links"
        class="min-h-dvh p-8 flex flex-col items-center justify-center"
    >
        <p class="text-center font-bold text-7xl mb-8">Find me on</p>
        <!-- List of social media  -->
        <div class="flex flex-wrap md:w-5/6 items-center justify-center gap-5">
            {
                getContactLinks().map((link) => (
                    <div class="">
                        <a
                            href={link.url}
                            class="contactButton"
                            aria-label={link.name}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            {link.component ? (
                                <link.component />
                            ) : link.icon ? (
                                <i class={link.icon} />
                            ) : null}
                            {link.name}
                        </a>
                    </div>
                ))
            }
        </div>
    </section>
    <footer class="m-auto h-fit py-5">
        <p class="text-center">
            Made with <i class="ti ti-brand-tailwind"></i> Tailwind, <i
                class="ti ti-brand-astro"></i> Astro and <i class="ti ti-coffee"
            ></i>
            <i class="ti ti-heart"></i>
            <i class="ti ti-headphones"></i>
            <i class="ti ti-music"></i>
            by
            <a
                href="https://github.com/Simply-Er1c"
                aria-label="GitHub"
                rel="noopener noreferrer"
                target="_blank"
                class="font-medium"
            >
                SimplyEr1c <i class="ti ti-brand-github"></i>
            </a>
        </p>
    </footer>
</Layout>
